@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Space Grotesk";
  background-color: #111111;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
}

.search-input {
  width: 85%;
  padding: 10px 15px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #333;
  font-size: 1rem;
  color: #f3f3f3;
  background-color: #222;
  margin-right: 10px;
}

.submit-button {
  width: 15%;
  padding: 10px 15px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #333;
  font-size: 1rem;
  color: #111111;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #e0e0e0;
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.suggestion-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.suggestion-button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestion-button:hover {
  background-color: #555;
}

.artist-info {
  position: relative; 
  display: flex;
  align-items: center;
  margin-top: 40px;
  text-align: center; 
}

.artist-image {
  width: 850px; 
  height: 500px; 
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
}

.artist-details {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  padding: 10px; 
  background: transparent; 
  color: white; 
  border-radius: 8px; 
}


.artist-details h2 {
  font-size: 1.5rem; 
  margin-bottom: 5px;
  font-weight: 700; 
}

.artist-details p {
  font-size: 1rem; 
  margin: 0;
}


h1 {
  font-weight: 700;
}

.artist-details h2 {
  font-weight: 500;
}

.suggestion-button {
  font-weight: 400;
}
