@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  background-color: #111111;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  padding: 110px 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  margin: 15px auto;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 85%;
  height: 100%;
}

.search-input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #333;
  font-size: 1rem;
  color: #f3f3f3;
  background-color: #222;
  font-weight: 400;
}

.submit-button {
  width: 15%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #333;
  font-size: 1rem;
  color: #111111;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  margin-left: 35px;
}

.submit-button:hover {
  background-color: #e0e0e0;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 104%;
  background-color: #222;
  border: 1px solid #333;
  border-top: none;
  border-radius: 0 0 8px 8px;
  z-index: 1000;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #333;
}

.artist-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.artist-image {
  width: 950px;
  height: 550px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.artist-image.loading {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.artist-image.loaded {
  opacity: 1;
}

.artist-details {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: transparent;
  color: white;
  border-radius: 8px;
}

.artist-details h2,
.artist-details p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.artist-details h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.artist-details p {
  font-size: 1rem;
  margin: 0;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 1rem;
  color: #f3f3f3;
}
